@charset "utf-8";
/* CSS Document */
p {
	color: indianred;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color:lavenderblush;
	padding: 20px;
}
.paragraf_2 {color: darkcyan; background-color: rgba(255, 255, 255, 0.9)}
.novi_blok {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 250px;
	margin: 20px;
	width: 50%;
}
h1, h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: deeppink;
}
span {color: red;}
.pozadina {
	background-image: url("fagz/random/vintage_honey_bee_wallpaper_bf3e6061-8af4-4d75-a270-c1491954e7f9_1024x1024.webp");
	
a:link ;
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;}

a:hover {
	background-color: darkgray;
}
img {
	height: 200px;
}